.article1 {
  background-color: #7EC0EB;
  width: 700px;
  height: 430px;
  color: white;
  border-radius: 10px;
  float: right;
  margin-right: 120px;
  margin-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.p1 {
  padding-top: 5px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Oswald', sans-serif;
  border-bottom-style: solid;
}

.p2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  padding-bottom: 15px;
}

.article2 {
  background-color: #4D96C8;
  width: 700px;
  height: 280px;
  color: white;
  border-radius: 10px;
  float: right;
  margin-right: 120px;
  margin-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.p3 {
  padding-top: 5px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Oswald', sans-serif;
  border-bottom-style: solid;
}

.p4 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  padding-bottom: 15px;
}
